.rows {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-radio-button {
  margin: 5px;
}

.row-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inline{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}