<h1 mat-dialog-title>Nueva tarea</h1>

<div mat-dialog-content>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Actividades</mat-label>
      <textarea id="description" name="description" [(ngModel)]="task.description" #description="ngModel" required matInput></textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
        class="alert alert-danger">
        <mat-hint *ngIf="description.errors.required">Describa las actividades a realizar</mat-hint>
      </div>
    </mat-form-field>    
      <mat-label id="example-radio-group-label">Tamaño de la tarea</mat-label><br>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group example-full-width"
        [(ngModel)]="sizeTask" >
        <mat-radio-button class="example-radio-button" value="1">
          Corta
        </mat-radio-button><br>
        <mat-radio-button class="example-radio-button" value="2">
          Media
        </mat-radio-button><br>
        <mat-radio-button class="example-radio-button" value="3">
          Larga
        </mat-radio-button><br>
        <mat-radio-button class="example-radio-button" value="4">
          Personalizar
        </mat-radio-button>
      </mat-radio-group>   
  </p>
  <div *ngIf="sizeTask == '4'" class="inline">
    <mat-label>Duración   </mat-label>
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Horas</mat-label>
              <input type="number" min="0" max="2" id="hours" name="hours" [(ngModel)]="task.hours" #hours="ngModel" required matInput>
          </mat-form-field>  
        </td>
        <td>:</td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Minutos</mat-label>
              <input type="number" min="0" [max]="task.hours < 2 ? 59: 00" id="minutes" name="minutes" [(ngModel)]="task.minutes" #minutes="ngModel" required matInput>
          </mat-form-field>
        </td>
      </tr>
    </table> 
  </div>


</div>
<div mat-dialog-actions class="row-buttons">
  <button mat-raised-button color="secondary" [mat-dialog-close]="task.description" cdkFocusInitial>Cancelar</button>
  <button mat-raised-button color="primary" (click)="saveTask()">Guardar</button>
</div>