<div>
  <div class="flex">
    <mat-form-field class="media">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Tarea..." #input>
    </mat-form-field>    
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 m-5">
    <!-- Description Column -->
    <ng-container matColumnDef="description" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN DE LA TAREA </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Duración de la tarea -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> TIEMPO ASIGNADO A LA TAREA </th>
      <td mat-cell *matCellDef="let element">
        <span>{{secondsToString(element.duration)}}</span>        
      </td>
    </ng-container>
    <ng-container matColumnDef="control">
      <th mat-header-cell *matHeaderCellDef> TIEMPO RESTANTE </th>
      <td mat-cell *matCellDef="let element">
        <app-countdown *ngIf="element.finished == undefined || !element.finished"
          [task]="element"
          [updateVal]="updateVal"
        ></app-countdown>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="complete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FINALIZADA </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-slide-toggle
            [checked]="element.finished"
            (change)="toggleChange(element)"
            [disabled]="disabled">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Tiempo que tomó en completar la tarea Column -->
    <ng-container matColumnDef="timeComplete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TIEMPO EN COMPLETARSE </th>
      <td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.finished != undefined && element.finished">
          {{getDuration(element)}}</span>        
      </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> OPCIONES </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" (click)="openEditTaskDialog(element)">
          Editar
        </button>
        <button mat-stroked-button color="warn" (click)="openRemoveTaskDialog(element)">
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</div>
