<mat-drawer-container class="example-container" autosize>

  <mat-grid-list cols="12" rowHeight="100%">
    <mat-grid-tile
        colspan="1">
        <button type="button" color="primary" mat-button (click)="drawer.toggle()">
          Menú
        </button>
    </mat-grid-tile>
    <mat-grid-tile
        colspan="11">
        <app-dashboard></app-dashboard>    
    </mat-grid-tile>
  </mat-grid-list>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
</mat-drawer-container>