<h2 mat-dialog-title>Eliminar tarea</h2>
<mat-dialog-content class="mat-typography">
  <p>¿Está seguro de eliminar esta tarea?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="secondary" mat-dialog-close cdkFocusInitial>Cancelar</button>
  <button mat-button color="primary" [mat-dialog-close]="true" (click)="removeTask()">Confirmar</button>
</mat-dialog-actions>
