<ng-container>
  <input matInput class="duration-input" name="hours" [(ngModel)]="hours" placeholder="0" type="text"
    (ngModelChange)="check('hours')" [disabled]="disabled" required>h

  <input matInput class="duration-input" name="minutes" [(ngModel)]="minutes" placeholder="0" type="text"
    (ngModelChange)="check('minutes')" [disabled]="disabled" required>m

  <input matInput class="duration-input" name="seconds" [(ngModel)]="seconds" placeholder="0" type="text"
    (ngModelChange)="check('seconds')" [disabled]="disabled" required>s
</ng-container>