

<div class="navbar">
  <a href="javascript:void(0)">Inicio</a>
  <a href="javascript:void(0)" (click)="authService.SignOut()">Cerrar sesión</a>
</div>
<div class="content" autosize>
  <button class="button" mat-raised-button color="primary" (click)="openCreateTaskDialog()">
    Crear tarea</button>
  <app-table-tasks></app-table-tasks>
</div>
