<div class="displayTableCell">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bienvenido</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <button mat-raised-button (click)="authService.GoogleAuth()">
        <img src="assets/icons/google.png" alt="" height="40">
        Iniciar sesión con Google
      </button>
    </mat-card-content>
  </mat-card>
</div>
