.displayTableCell {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
}

.example-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-color: #ffd95d ;
  border-width: 2px;
}