<countdown #cd [config]="{leftTime: task.left }"></countdown>
<div *ngIf="task.timeComplete == undefined || !task.timeComplete">
  <button (click)="cd.resume()" mat-icon-button aria-label="Reproducir">
    <img src="/assets/icons/play.svg" height="20" alt="">
  </button>
  <button (click)="cd.pause()" mat-icon-button aria-label="Pausa">
    <mat-icon>pause</mat-icon>
  </button>
  <button (click)="cd.restart()" mat-icon-button aria-label="Detener">
    <img src="/assets/icons/restart.svg" height="18" alt="">
  </button>   
</div>